<%- include('layout/Homepage.ejs') %>

<link rel="stylesheet" href="/css/blogs.css">

  </head><div class="content">
    <div class="text-center mb-4">
        <h2 class="fw-bold">Latest Blogs</h2>
    </div>
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <% blogdata.forEach(blogs => { %> 
                <div class="col-md">
                    <a href="/show/<%= blogs.id %>" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0">
                            <img src="/<%= blogs.image %>" class="card-img-top img-fluid" alt="<%= blogs.title %>">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold"><%= blogs.title %></h5>
                                <p class="card-text"><%= blogs.catchytext %></p> 
                                <a href="/show/<%= blogs.id %>" class="btn btn-primary mt-3">View more</a>
                            </div>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <nav>
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
                    </li>
                <% } else { %>
                    <li class="page-item disabled">
                        <span class="page-link">&laquo; Previous</span>
                    </li>
                <% } %>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
                    <% if (currentPage < totalPages) { %> 
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
                    </li>
                <% } else { %>
                    <li class="page-item disabled">
                        <span class="page-link">Next &raquo;</span>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
    